<h1>Book detail</h1>
<ul><li><h4>title:</h4></li><li><p><%= @book.title %></p></li></ul>
<ul><li><h4>body:</h4></li><li><p><%= @book.body %></p></li></ul>


<%= link_to "edit",edit_book_path(@book) %>
<%= link_to "back",books_path %>
