	<h1>Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers </strong> !!</h1>

	<p>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span><storong>Bookers,</storong></p>

	<p>you can share and exchange your opinions</p>
	<p>inpressions ,and emostions sbout various books!</p>



	  <ul style="list-style: none;">
	  	<button type="button" class="btn btn-info btn-block">
	    <li class="">
        <a class=""href="/users/sign_in"> login </a>
        </li>
    	</button>
    	<button type="button" class="btn btn-success btn-block">
        <li class="">
        <a class=""href="/users/sign_up">sign up</a>
        </li>
    	</button>
	  </ul>
	    
